.general-checkbox {
	position: relative;
	cursor: pointer;
	// font-size: 17px;
	width: 18px;
	height: 18px;
	user-select: none;
	// border: 2px solid white;
	display: block;
	border: 1px solid color(gray-88);
	border-radius: 5px;

	&:hover {
		border: 1px solid color(green-deep);
	}

	&__input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;

		&:checked {
			~ .general-checkbox {
				border: 2px solid color(green-deep);
			}
			~ .general-checkbox__checkmark {
				&:after {
					transform: scale(1);
				}
			}
		}
	}

	&__checkmark {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&::after {
			content: "";
			position: absolute;
			top: 25%;
			left: 25%;
			background-color: color(green-deep);
			// background: #74C733;
			border-radius: 2px;
			width: 50%;
			height: 50%;
			transform: scale(0);
			transition: 0.1s ease;
		}
	}
}

// <label class="general-checkbox">
// 	<input class="general-checkbox__input" type="checkbox" checked="checked" />
// 	<div class="general-checkbox__checkmark"></div>
// </label>
