.general-input,
select.general-input {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	padding: 12px 0px 11px 24px;
	padding-top: 12px;
	border-radius: 12px;
	border: 1px solid color(gray-88);

	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 17px;
	color: color(black-16);

	transition: all 0.2s ease;

	@include laptop {
		padding: 14px 0px 15px 24px;
	}

	&::placeholder {
		color: color(gray-c6);
	}

	&:hover {
		border-color: color(green-deep);

		&::placeholder {
			color: color(gray-59);
		}
	}

	&:focus {
		outline: none;
		border-color: color(gray-59);
		box-shadow: none;
	}

	&:disabled {
		background: color(gray-f5);
		border-color: color(gray-e1);
		color: color(gray-c6);
		cursor: not-allowed;

		&:hover {
			&::placeholder {
				color: color(gray-c6);
			}
		}
	}

	&.error {
		border-color: color(red-deepest);
		color: color(red-deepest);
	}

	&.success {
		border-color: color(green-deep);
		color: color(green-deep);
	}
}

select.general-input {
	padding-right: 24px;
	position: relative;
	background-color: color(white);
	cursor: pointer;

	background-image: url("../icons/Chevron-Down.svg");
	background-repeat: no-repeat;
	background-position: calc(100% - 12px) center;
	background-size: 12px;
}

.input-with-loader {
	.general-input {
	}
	position: relative;

	&::after {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
		width: 16px;
		height: 16px;
		background-image: url("../icons/Loader.svg");
		background-repeat: no-repeat;
		background-size: contain;
	}

	&.loading {
		&::after {
			display: block;
		}
	}
}

.custom-select {
	position: relative;

	&__field-wrapper {
		position: relative;
	}

	&__input {
		width: 100%;
	}

	&__loader {
		display: none;
		position: absolute;
		top: 30%;
		right: 10px;
		width: 18px;
		height: 18px;
		background-image: url("../icons/loader_green.svg");
		background-repeat: no-repeat;
		background-size: contain;
		animation: rotation 1s linear infinite;
		@keyframes rotation {
			to {
				transform: rotate(360deg);
			}
		}
	}

	&__list-wrapper {
		position: absolute;
		top: calc(100% + 5px);
		width: 100%;
		display: none;
		background: color(white);
		border: 1px solid color(gray-e1);
		border-radius: 12px;
		overflow: hidden;

		max-height: 200px;
		overflow-y: auto;
		z-index: 100;

		/* Скрытие стрелок */
		&::-webkit-scrollbar-button {
			display: none;
		}

		/* Скрытие подложки */
		&::-webkit-scrollbar-track {
			display: none;
		}

		/* Ширина и цвет ползунка в Firefox */
		scrollbar-color: color(green-softest);
		scrollbar-width: thin;

		/* Скрытие стрелок и подложки в Firefox */

		scrollbar-arrow-color: transparent;
		scrollbar-track-color: transparent;

		// Стили для chrome

		&::-webkit-scrollbar {
			width: 4px;
			background-color: none;
		}

		&::-webkit-scrollbar-thumb {
			background-color: color(green-softest);
			width: 4px;
			border-radius: 6px;
		}
	}

	&__list {
		list-style: none;

		&_users {
			.custom-select__list-item {
				padding: 8px 0 8px 24px;

				&:hover {
					background-color: color(green-softest);
				}
			}

			.custom-select__list-item-img-wrapper {
				margin-right: 8px;
			}

			.custom-select__list-item-name {
				font-weight: 500;
				font-size: 13px;
				line-height: 17px;
				color: color(gray-59);
			}
		}
	}

	&__list-item {
		display: flex;
		align-items: center;
		cursor: pointer;
	}
}

// Структура кастомного селекта
// <div class="custom-select">
// 			<div class="custom-select__field-wrapper">
// 				<input type="text" class="general-input custom-select__input add-account-block__input" placeholder="@username или ссылка" />
// 				<span class="custom-select__loader"></span>
// 			</div>
// 			<div class="custom-select__list-wrapper">
// 				<ul class="custom-select__list custom-select__list_users">
// 					<li class="custom-select__list-item">
// 					</li>
// 					<li class="custom-select__list-item">
// 					</li>
// 					<li class="custom-select__list-item">
// 					</li>
// 				</ul>
// 			</div>
// 		</div>
