.system-info {
	// блок имеет несколько цветовых форм - стили всех из них - ниже
	padding: 12px 16px;

	// background: color(gray-f5);
	border: 1px solid color(green-deep);
	border-radius: 6px;
	display: flex;
	flex-direction: column;

	// @include laptop {
	// 	max-width: 456px;
	// }

	&__title {
		&-wrapper {
			display: flex;
			align-items: center;
			margin-bottom: 12px;
		}

		&-text {
			font-weight: 700;
			font-size: 16px;
			line-height: 20px;
			color: color(green-deepest);

			@include laptop {
				font-size: 18px;
				line-height: 22px;
			}
		}

		&-icon {
			margin-right: 4px;
			display: flex;
			align-items: center;
			justify-content: center;

			svg {
				rect,
				circle,
				ellipse,
				line,
				polyline,
				polygon,
				path {
					stroke: color(green-deepest);
					// fill: color(black-16);
				}
			}
		}
	}

	&__text {
		font-weight: 400;
		font-size: 13px;
		line-height: 18px;
		color: color(black-16);
		margin-bottom: 12px;

		span {
			font-weight: 700;
		}
	}

	&__controls {
		&-wrapper {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 12px;
		}

		&-btn {
			&:not(:last-child) {
				margin-right: 16px;
			}

			&_secondary {
				padding-left: 0;
				padding-right: 0;
				color: color(black-16);

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.form {
		display: flex;
		flex-direction: column;

		.general-input {
			margin-bottom: 12px;
		}

		.form__btn {
			&_main {
			}

			&_secondary {
				// 	padding-left: 0;
				// 	padding-right: 0;
				// 	color: color(black-16);

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	&__error {
		margin-top: 12px;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: color(red-deepest);
	}

	// Модификатор "желтый" -системное предупреждение, важная информация
	&_yellow {
		border: none;
		background: color(yellow-softest);

		.system-info__title {
			&-text {
				color: color(black-16);
			}

			&-icon {
				svg {
					rect,
					circle,
					ellipse,
					line,
					polyline,
					polygon,
					path {
						stroke: color(black-16);
					}
				}
			}
		}

		.system-info__controls {
			&-btn {
				&_main {
					color: color(black-16);
					border-color: color(black-16);

					&:hover {
						background: none;
						box-shadow: inset 0px 0px 0px 1px color(black-16);
					}
				}
			}
		}

		.form {
			.general-input {
				background: none;
				border-color: color(black-16);

				&::placeholder {
					color: color(gray-88);
				}
			}

			.button {
				color: color(black-16);
				border-color: color(black-16);

				&:hover {
					background: none;
					box-shadow: inset 0px 0px 0px 1px color(black-16);
				}

				&:disabled {
					background: none;
					border: 1px solid color(gray-88);
					color: color(gray-88);
				}
			}
		}
	}

	// Модификатор "красный" -критическое предупреждение, ошибка
	&_red {
		border: none;
		background: color(red-softest);

		.system-info__title {
			&-text {
				color: color(red-deepest);
			}

			&-icon {
				svg {
					rect,
					circle,
					ellipse,
					line,
					polyline,
					polygon,
					path {
						stroke: color(red-deepest);
					}
				}
			}
		}

		.system-info__controls {
			&-btn {
				&_main {
					color: color(black-16);
					border-color: color(black-16);

					&:hover {
						background: none;
						box-shadow: inset 0px 0px 0px 1px color(black-16);
					}
				}
			}
		}

		.form {
			.general-input {
				background: none;
				border-color: color(black-16);

				&::placeholder {
					color: color(gray-88);
				}
			}

			.button {
				color: color(black-16);
				border-color: color(black-16);

				&:hover {
					background: none;
					box-shadow: inset 0px 0px 0px 1px color(black-16);
				}

				&:disabled {
					background: none;
					border: 1px solid color(gray-88);
					color: color(gray-88);
				}

				&_main {
				}

				&.form__btn_secondary {
					&:hover {
						text-decoration: underline;
						box-shadow: none;
					}
				}
			}
		}
	}
}
