@import "mixins/mixins-media";
@import "general/colors";
@import "general/buttons";
@import "general/inputs";
@import "general/checkbox";
@import "general/toggle";
// -- Стили плиток дашборда (блоки, имеющие серый фон)
@import "general/tail";
// -- Стили цветных системных оповещений
@import "general/system-info";
@import "../components/general/header/header";
@import "../components/general/header/header-menu";
@import "../components/general/footer/footer";
@import "../components/general/modals/modals";

// Страница авторизации
// auth-page.html
@import "../components/blocks/auth-page/auth-block/auth-block";
@import "../components/blocks/auth-page/auth-register-block/auth-register-block";

// Страница восстановления пароля
// auth-recovery-page.html
@import "../components/blocks/auth-page/auth-recovery/password-recovery-block/password-recovery-block";
@import "../components/blocks/auth-page/auth-recovery/new-password-block/new-password-block";

// Главная страница + стр. добавления аккаунта
// index.html
@import "../components/blocks/dashboard/add-account-block/add-account-block";
@import "../components/blocks/promo/demo-banner/promo-demo-banner";

// Главная страница
// dashboard-start.html
// --блок смены временного пароля
@import "../components/blocks/dashboard/temp-password-block/temp-password-block";
// --блок цели - логин, данные, переключатели
@import "../components/blocks/dashboard/target-info/target-info";
// --блок привязки карты
@import "../components/blocks/dashboard/card-bind-block/card-bind-block";
// --блок обновления данных
@import "../components/blocks/dashboard/feed-update-block/feed-update-block";
// --блок выбора катогории данных
@import "../components/blocks/dashboard/topic-block/topic-block";
// --блок чекпоинта временного аккаунта
@import "../components/blocks/dashboard/private-acc-block/private-acc-block";
// --обертка новостной ленты - оболочки для всех новостей и компонентов ленты
@import "../components/blocks/dashboard/feed-content/feed-content";
// --блок статуса раздела - сбор, в процессе, пусто - текстовая подсказка о том, почему нет данных
@import "../components/blocks/dashboard/feed-content/feed-status";
// --блок переключения между категориями в нижней части ленты новостей
@import "../components/blocks/dashboard/feed-content/feed-footer";

// dashboard-problem.html
// --Блок возобновления подписки
@import "../components/general/subscription-renewal/subscription-renewal-block";
// --Блок ошибки из-за неудачной оплаты
@import "../components/blocks/dashboard/payment-error-block/payment-error-block";
// --Блок с опросом - он не относится к ошибкам, но просто представлен на этой странице
@import "../components/blocks/promo/promo-survey/promo-survey";

// dashboard-data-***.html
// --Блок контента ленты
@import "../components/blocks/dashboard/feed-content/feed-item";

// Cтраница тарифов
// subscription.html
// --блок Отзывы
@import "../components/blocks/subscription-page/reviews/reviews";
// --блок Информации о подписке
@import "../components/blocks/subscription-page/subscription-info-block/subscription-info-block";
// --Блок управления подпиской (отмены)
@import "../components/blocks/subscription-page/subscription-managment/subscription-managment";
// --Блок Тарифов
@import "../components/blocks/subscription-page/plans/plans";
// --Блок Карточка тарифа
@import "../components/blocks/subscription-page/plan-card/plan-card";

// Cтраница тарифов
// payment.html
// --блок обертка для виджета
@import "../components/blocks/payment-page/payment-widget-block";
// --блок Успешной оплаты
@import "../components/blocks/payment-page/payment-success-block";
// --блок Горящие предложения
@import "../components/blocks/payment-page/special-offer";
// --блок Премиум баннер в блоке Горящие предложения
@import "../components/blocks/promo/special-premium/special-premium-banner";

// Cтраница Уведомления
// notifications.html
// --блок Уведомлений Готовность данных и Отчет о событиях
@import "../components/blocks/notifications-page/notification-data/notification-data";
// --блок с описанием подклчения телеграм-бота
@import "../components/blocks/notifications-page/notification-telegram/notification-telegram";

// Cтраница Настройки
// settings.html
// --блок Настроек учетной записи
@import "../components/blocks/settings-page/account-settings/account-settings";
// --блок Управления целями
@import "../components/blocks/settings-page/target-managment/target-managment";
// --блок Ввода промокода
@import "../components/blocks/settings-page/promocode-block/promocode-block";

// Cтраница Инструкция
// tutorial.html
// --блок ИНструкции
@import "../components/blocks/tutorial-page/tutorial";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Source Sans Pro", "Inter", sans-serif;
	font-style: normal;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1114px;
	width: 100%;
	margin: 0 auto;
}

.page-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	color: color(black-16);
}

.canvas {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 36px;
	min-height: 520px;
	padding-bottom: 40px;

	// padding: 36px 10px 0px 10px;

	@include laptop {
		padding: 36px 0px 0px 0px;
		// display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: start;
		padding-bottom: 80px;
	}

	&__col {
		max-width: 456px;
		width: 100%;

		section {
			// max-width: 456px;
			// margin-right: 10px;
			// margin-left: 10px;

			&:not(:last-child) {
				margin-bottom: 24px;
			}

			@include laptop {
				margin-right: 0px;
				margin-left: 0px;
			}

			// Убирает отсутпы у обертки слайдера, чтобы слайды выходили за границу экрана
			@media screen and (max-width: 476px) {
				margin-right: 10px;
				margin-left: 10px;

				&.topic-block {
					margin-right: 0px;
					margin-left: 0px;
					margin-bottom: 0px;
				}
			}
		}

		// Используется, когда одна колонка и должна быть на всю ширину (инструкция)
		&_full-width {
			max-width: 926px;

			section {
				margin-right: 10px;
				margin-left: 10px;
			}
		}

		&_left {
			margin-bottom: 24px;

			@include laptop {
				max-width: 362px;
				margin-right: 108px;
				margin-bottom: 0px;
			}

			section {
				@include laptop {
					width: 100%;
				}
			}
		}

		&_right {
			@include laptop {
				max-width: 456px;
			}

			section {
				@include laptop {
					width: 100%;
				}
			}
		}
	}
}
