@import "mixins/mixins-media";
@import "general/colors";
@import "general/buttons";
@import "general/inputs";
@import "general/tail";
@import "../components/general/header/header";
@import "../components/general/footer/footer";

// Страница авторизации
@import "../components/blocks/auth-page/auth-block/auth-block";
@import "../components/blocks/auth-page/auth-register-block/auth-register-block";

// Страница восстановления пароля
@import "../components/blocks/auth-recovery/password-recovery-block/password-recovery-block";
@import "../components/blocks/auth-recovery/new-password-block/new-password-block";

// Главная страница + стр. добавления аккаунта
@import "../components/blocks/add-account/add-account-block/add-account-block";
@import "../components/blocks/promo/demo-banner/promo-demo-banner";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Source Sans Pro", "Inter", sans-serif;
	font-style: normal;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1114px;
	width: 100%;
	margin: 0 auto;
}

.canvas {
	padding: 36px 10px 0px 10px;
}
