.auth-block {
	@include laptop {
		max-width: 340px;
	}

	&__title {
		font-size: 24px;
		line-height: 32px;
		text-align: center;
	}

	&__text {
		margin-bottom: 16px;
	}

	&__form-wrapper {
		display: flex;
		flex-direction: column;
	}

	&__form-error {
		margin-bottom: 16px;
	}

	&__input {
		margin-bottom: 16px;
	}

	&__btn {
		margin-bottom: 16px;
	}

	&__social {
		&-wrapper {
			display: flex;
			justify-content: center;
		}

		&-item {
			height: 32px;
			margin-right: 16px;
			cursor: pointer;

			&:last-child {
				margin-right: 0;
			}
		}

		&-icon {
			transition: all 0.2s ease;

			&:hover {
				transform: scale(120%);
			}
		}
	}
}
