.notifications-telegram {
	padding: 12px 16px;
	border: 1px solid color(blue-soft);
	border-radius: 6px;
	display: flex;
	flex-direction: column;

	&__title {
		&-wrapper {
			display: flex;
			align-items: center;
			margin-bottom: 8px;
		}

		&-text {
			font-weight: 700;
			font-size: 16px;
			line-height: 20px;
			color: color(blue-deepest);

			@include laptop {
				font-size: 18px;
				line-height: 22px;
			}
		}

		&-icon {
			margin-right: 4px;
			display: flex;
			align-items: center;
			justify-content: center;

			svg {
				path {
					fill: color(blue-deepest);
				}
			}
		}
	}

	&__text {
		font-weight: 400;
		font-size: 13px;
		line-height: 18px;
		color: color(black-16);
		margin-bottom: 8px;

		span {
			font-weight: 600;
		}
	}

	&__controls {
		&-btn {
			width: fit-content;

			&_main {
				margin-top: 8px;
			}

			&_secondary {
				padding: 0;

				svg {
					height: 18px;
					width: 18px;
					margin-left: 4px;
					margin-right: 0px;

					path {
						stroke: color(green-deepest);
					}
				}

				svg.copied {
					display: none;
				}

				&:hover {
					svg {
						path {
							stroke: color(black-16);
						}
					}
				}
			}
		}
	}

	&__copy-code {
		margin-bottom: 8px;
	}
}
