<!-- Блок инструкции -->

<section class="tutorial">
	<h1 class="tutorial__title">Про Инсташпион</h1>
	<p class="tutorial__text">С помощью сервиса Инсташпион вы можете посмотреть, каким аккаунтам и на какие фотографии пользователь поставил лайк или написал комментарий, на кого подписался и от кого отписался, а также много другое. Так как сам Инстаграм* отключил функцию просмотра лайков у друзей, теперь Инсташпион является единственным оптимальным решением быстро проанализировать все лайки. Также вы можете собрать весь архив действий нужного пользователя или организовать постоянную слежку за его активностью.</p>
	<div class="tutorial__wrapper">
		<!-- Раздел инструкции (может включать в себя подразделы) -->
		<div data-item="tutorial-item" class="tutorial-section">
			<div data-type="opener" class="tutorial-section__header">
				<h2 class="tutorial-section__title">Заголовок секции</h2>
				<div class="tutorial-section__more-btn">
					<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M11.25 1.34998L6.70711 5.89287C6.31658 6.28339 5.68342 6.28339 5.29289 5.89287L0.75 1.34997" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</div>
			</div>
			<div class="tutorial-section__body">
				<p class="tutorial-section__text">Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст</p>
				<div class="tutorial-section__img-wrapper">
					<img src="assets/img/image-empty.svg" alt="" class="tutorial-section__image" />
				</div>

				<!-- Подраздел инструкции -->
				<div data-item="tutorial-item" class="tutorial-subsection">
					<div data-type="opener" class="tutorial-subsection__header">
						<h2 class="tutorial-subsection__title">Заголовок ПОДсекции</h2>
						<div class="tutorial-subsection__more-btn">
							<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11.25 1.34998L6.70711 5.89287C6.31658 6.28339 5.68342 6.28339 5.29289 5.89287L0.75 1.34997" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
							</svg>
						</div>
					</div>
					<div class="tutorial-subsection__body">
						<p class="tutorial-subsection__text">Текст Текст Текст Текст Текст Текст Текст Текст <a href="#">link link link</a> Текст Текст Текст Текст Текст Текст Текст Текст</p>
						<div class="tutorial-subsection__img-wrapper">
							<img src="assets/img/image-empty.svg" alt="" class="tutorial-subsection__image" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
