.special-premium-banner {
	position: relative;
	padding: 10px 12px 18px 12px;
	// min-height: 190px;
	background: #020201;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	// overflow: hidden;

	// text-decoration: none;
	color: color(white);

	// @include laptop {
	// 	max-width: 340px;
	// }

	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 6px;
		z-index: 10;
	}

	&__text {
		font-weight: 400;
		font-size: 13px;
		line-height: 18px;
		margin-bottom: 16px;
	}

	&__controls-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: start;
		align-items: flex-start;
	}

	&__price {
		display: flex;

		&-current {
			font-weight: 700;
			font-size: 24px;
			line-height: 29px;
			color: color(white);
		}

		&-old {
			font-weight: 400;
			font-size: 24px;
			line-height: 29px;
			text-decoration-line: line-through;
			color: color(gray-88);
			margin-left: 6px;
		}
	}

	&__btn {
		background: #ffb739;
		width: fit-content;
		z-index: 10;
	}

	&__img {
		position: absolute;
		// width: 127px;
		// height: 330px;
		right: 11px;
		top: 3px;
	}
}
