.promo-survey {
	position: relative;
	&__body {
		position: relative;
		padding: 8px 12px 8px 12px;
		min-height: 53px;
		background: #fafbc7;
		border-radius: 6px;
		display: flex;
		align-items: center;
		// flex-direction: column;
		// overflow: hidden;

		text-decoration: none;
		color: color(black-16);
	}

	&__img {
		width: 60px;
		height: 46px;
		margin-right: 14px;
	}

	&__text-wrapper {
		margin-right: 14px;
	}

	&__title {
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		color: color(black-34);
	}

	&__description {
		font-weight: 400;
		font-size: 13px;
		line-height: 18px;
		color: color(black-34);
	}

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 100;

		width: 40px;
		height: 40px;

		display: flex;
		justify-content: flex-end;

		&:hover {
			svg {
				path {
					stroke: color(black-16);
				}
			}
		}
	}
}
