<!-- Блок на дашборде с предложением восстановить подписку (отменена раньше срока окончания) -->
<!-- Первоначальное состояние, предложение восстановить подписку -->
<section class="subscription-renewal-block tail">
	<h2 class="subscription-renewal-block__title tail__title">Управление подпиской</h2>
	<p class="subscription-renewal-block__text tail__text">Хотите возобновить подписку на сервис до ${DD.MM.YYYY}?</p>
	<button class="button button_shadow subscription-renewal-block__btn">возобновить подписку</button>
</section>

<!-- Состояние при клике на кнопку Возобновить подписку - пропадающее сообщение после возобновления -->
<section class="subscription-renewal-block tail">
	<h2 class="subscription-renewal-block__title tail__title">Подписка успешно возобновлена!</h2>
	<p class="subscription-renewal-block__text tail__text">Теперь вам снова доступны все функции и возможности без ограничений.</p>
</section>
