.modal {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;

	width: 100%;
	height: 100%;

	&__fade {
		background: rgba(198, 197, 210, 0.8);
		backdrop-filter: blur(3px);

		width: 100%;
		height: 100%;
	}
}

.modal-body {
	// position: absolute;
	// top: 32px;
	position: fixed;
	top: 15%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 101;

	background: color(white);
	box-shadow: 0px 30px 35px rgba(198, 197, 210, 0.15), 0px 15px 20px rgba(198, 197, 210, 0.2), 0px 4px 10px rgba(198, 197, 210, 0.35);
	border-radius: 14px;
	padding: 12px 16px 16px;

	max-width: 340px;
	width: 100%;

	@include laptop {
		max-width: 550px;
	}

	&__close-icon {
		position: absolute;
		top: 0;
		right: 0;
		width: 38px;
		height: 38px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&:hover {
			svg {
				path {
					stroke: color(black-16);
				}
			}
		}
	}

	&__header {
		margin-bottom: 32px;

		&-icon {
			width: 42px;
			height: 42px;

			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 100%;

			// &_red {
			// 	background-color: color(red-softest);
			// }

			// &_green {
			// 	background-color: color(green-softest);
			// }
		}

		&_red {
			.modal-body__header-icon {
				background-color: color(red-softest);
			}

			.modal-body__header-title,
			.modal-body__header-subtitle {
				color: color(red-deepest);
			}
		}

		&_green {
			.modal-body__header-icon {
				background-color: color(green-softest);
			}

			.modal-body__header-title,
			.modal-body__header-subtitle {
				color: color(black-16);
			}
		}
	}

	&__content {
		&-wrapper {
			margin-bottom: 32px;
		}

		&-text {
			font-weight: 300;
			font-size: 16px;
			line-height: 20px;
			color: color(black-16);

			// Если в модалке 2 и более блока текста в обертке, чтобы мжду ними был отсутп 12px, но не у последнего
			&:not(:last-of-type) {
				margin-bottom: 12px;
			}

			span {
				font-weight: 500;
			}
		}

		&-item {
			border-radius: 4px;
			overflow: hidden;
			display: flex;
		}

		&-img,
		&-video {
			width: 100%;
		}
	}

	&__btn-main,
	&__btn-secondary {
		width: 100%;
	}

	&__btn-secondary {
		margin-top: 12px;

		svg {
			path {
				stroke: color(green-deepest);
			}
		}

		&:hover {
			svg {
				path {
					stroke: color(black-16);
				}
			}
		}
	}
}

.modal-body_media {
	max-width: 340px;

	.modal-body {
		&__header-title {
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			color: color(black-16);
		}

		&__header-subtitle {
			font-weight: 400;
			font-size: 13px;
			line-height: 18px;
			color: color(gray-88);
		}
	}
}

.modal-body_subscription-cancel {
	.modal-body {
		&__header {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__header-title {
			font-weight: 600;
			font-size: 20px;
			line-height: 31px;
			text-align: center;
			margin-top: 10px;
		}

		&__header-subtitle {
			font-weight: 400;
			font-size: 13px;
			line-height: 18px;
			color: color(gray-88);
		}
	}
}
